/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import 'navbar';
@import 'variables';


body, html {
  height: calc(100% - 200px) !important;
}

body {
  background-color: whitesmoke !important;
  // background-color: #112126 !important;
}

#page-container {
  width: 100vw;
  
  height: calc(100vh - 80px) !important;
  padding-bottom: 80px;
  overflow-y: auto;
  // background: rgb(245,245,245) !important;
  // background: linear-gradient(180deg, rgba(245,245,245,1) 0%, rgba(17,33,38,0.8883928571428571) 100%) !important;
}


.blog-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1.25rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
  .container span a {
    color: $primary-dark !important;
  }
}


.warning-header {
  margin-top: 56px;
  TEXT-ALIGN: CENTER;
  background-color: $font-dark;
  color: white;
  font-size: 1.5rem;
  padding: 30px;
}


.list-style-none {
  list-style: none;
}


.inline {
  display: inline-block;
}


.btn-primary {
  background-color: $primary-dark !important;
  border-color: $primary-dark !important;
  &:hover {
    background-color: $primary-light !important;
    border-color: $primary-light !important;
  }
}



.btn-outline-primary {
  background-color: inherit;
  border-color: $primary-dark !important;
  color: $primary-dark !important;
  &:hover {
    background-color: $primary-light !important;
    border-color: $primary-light !important;
    color: white !important;
  }
}


// BREAKPOINTS 

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}