/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'navbar';
@import 'variables';


body {
  position: absolute;
  width: 100%;
  height: 100%;
}


.warning-header {
  margin-top: 56px;
  TEXT-ALIGN: CENTER;
  background-color: $font-dark;
  color: white;
  font-size: 1.5rem;
  padding: 30px;
}


.list-style-none {
  list-style: none;
}



// PROFILE avatar
.profile-avatar {
  width: 18%;
  height: 18%;
  max-width: 160px;
  max-height: 160px;
  border-radius: 50%;
}

.btn-primary {
  background-color: $primary-dark !important;
  border-color: $primary-dark !important;
  &:hover {
    background-color: $primary-light !important;
    border-color: $primary-light !important;
  }
}

