// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'variables';

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.login-icon {
  display: block;
  margin: 0 auto;
  fill: $primary-dark;
  width: 7em;
  height: 7em;
}

.logo-login {
  width: inherit;
}


