@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$primary-dark: #002f64;
$primary-light: #064c9c;
$secondary-dark: #5b3375;
$font-dark: #ff7f00;

$nav-font: 'Lato', sans-serif;