<h1>Editing Instructor</h1>

<%= render 'form', instructor: @instructor %>


<%= link_to 'Back', instructor_path(current_user.instructor.id), class: 'btn btn-outline-secondary'%>
<%= link_to 'Change My Password', edit_user_registration_path, class: 'btn btn-outline-danger'%>
