<h1>Editing Instructor</h1>

<%= render 'form', instructor: @instructor %>

<br>

<% if current_user.admin? %>
  <%= link_to 'Back', instructors_path, class: 'btn btn-secondary'%>
<% elsif current_user.instructor? %>
  <%= link_to 'Back', instructor_path(current_user.instructor.id), class: 'btn btn-outline-secondary'%>
  <%= link_to 'Change My Password', edit_user_registration_path, class: 'btn btn-outline-danger'%>
<% end %>


