<h1>Editing Instructor</h1>

<%= render 'form', instructor: @instructor %>

<%= link_to 'Show', @instructor %> |
<%= link_to 'Back', instructors_path %> | 
<%= link_to 'Edit My Account', edit_user_registration_path %>
