<h1 class="display-3 text-center mb-4">Editing Your Details</h1>

<%= render 'form', instructor: @instructor %>

<br>

<div class="container">
  <% if current_user.instructor? %>
    <%= link_to 'Change My Password', edit_user_registration_path, class: 'btn btn-outline-danger'%>
  <% end %>
</div>



