
<%= render "shared/warning" %>


<div class="container">

  <div class="row">
    <div class="jumbotron col-md-6 mr-2">
      <h3 class="display-4">What this site is about</h3>
      <p class="lead">Mollit consequat nostrud aute officia id. Nulla cupidatat sit in occaecat esse ea nostrud eu duis eiusmod dolore reprehenderit.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

    <div class="jumbotron col ml-2">
      <h3 class="display-4">What we offer</h3>
      <p class="lead">Mollit consequat nostrud aute officia id. Nulla cupidatat sit in occaecat esse ea nostrud eu duis eiusmod dolore reprehenderit.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
  </div>

</div>


