

<footer class="blog-footer">
  <div class="container">
    <span class="text-muted lead">&copy; <%= link_to 'Simon Curran 2020', 'https://www.simonmcurran.com/', target: :_blank %></span>
    <br>
    <span class="text-muted text-lowercase font-weight-light mt-2"> <%= link_to 'Twitter', 'https://twitter.com/simo_sultan', target: :_blank %> | <%= link_to 'GitHub', 'https://github.com/SimoSultan', target: :_blank %> | <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/simo-sultan/', target: :_blank %> </span>
  </div>
</footer>

