<h1 class="display-3">Editing Your Details</h1>

<%= render 'form', student: @student %>


<br>

<% if current_user.student? %>
  <%= link_to 'Change My Password', edit_user_registration_path, class: 'btn btn-outline-danger'%>
<% end %>





