<h1>Editing Student</h1>

<%= render 'form', student: @student %>

<%#= link_to 'Show', @student %>
<%= link_to 'Back', student_path(current_user.student.id), class: 'btn btn-outline-secondary'%>
<%= link_to 'Change My Password', edit_user_registration_path, class: 'btn btn-outline-danger'%>

