
<h1 class="display-4">New Lesson</h1>


<%= render 'shared/new_lesson', locals: {lesson: @lesson, instructors: @instructors, students: @students} %>


<%# link_to 'Back', lessons_path, class: "btn btn-secondary" %>